@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
:root {
    --primary-color: #00b8e2;
    --secondary-color: #00404f;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #292922;
    --white-color: #ffffff;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.App > h1 {
    text-align: center;
    margin: 1rem 0;
}

.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    display: flex;
    padding: 1rem;
    background: var(--primary-color);
    margin-bottom: 1rem;
}

.Form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.Inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

.Form input {
    background: #f5f6f7;
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary-color);
    display: block;
    margin: 0.3rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Form input:focus {
    background: #f5f6f7;
    padding: 0.5rem 1rem;
    border: 5px solid var(--secondary-color);
    display: block;
    margin: 0.3rem 1rem 0 0;
    color: var(--secondary-color);
}

input, select, textarea{
    color: var(--secondary-color);
}
.Form input::placeholder{
    color: var(--secondary-color);
}
h1 {
    font-weight: bolder;
}
h2 {
    text-align: center;
}

.btn {
    background: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: large;
    font-weight: bolder;
    padding: 1.2rem 1rem;
    display: block;
    margin: 0.3rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.dataInfo {
    display: flex;
    min-width: 100%;
}

.Table {
    flex: 1;
    margin-left: 10%;
    max-width: 50%;
}

.chartComponent {
    margin-left: 10%;
    max-width: 20%;
}

.line-through {
    text-decoration: line-through;
    color: #777 !important;
}

.hide-button {
    display: none;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }